<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body id="body">
    <div class="login-container">
        <div class="login-box">
            <h1>LIBRARIAN LOGIN</h1>
            <a href="/studentlogin"><h2>Login as a student</h2></a>
            <% if(error){ %>
                <p class="error"><%= error %></p>
            <% } %>
            <form action="/login" method="post">
                <input type="email" name="email" placeholder="enter email" required>
                <input type="password" name="password" placeholder="enter password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>